<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">My first Angular project</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="getIsLogin()">
      <li class="active"><a routerLink="/">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav" *ngIf="!getIsLogin()">
      <li class="active"><a routerLink="/">Login</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="getIsLogin()" class="nav-item dropdown">
        <button
          class="btn-link btn-lg dropdown-toggle"
          data-toggle="dropdown"
          (click)="setLastNotificationViewed()"
        >
          <span
            class="glyphicon glyphicon-bell"
            [ngStyle]="{
              color: numberOfNewNotification ? '#ff5a5a' : '#9d9d9d'
            }"
          ></span>
          <span
            *ngIf="numberOfNewNotification"
            style="font-size: 14px; margin: 5px;"
            >{{ numberOfNewNotification }}</span
          >
        </button>
        <ul class="dropdown-menu list-group">
          <li
            class="list-group-item"
            *ngFor="
              let notification of myNotifications
                ? myNotifications.reverse().slice(0, 5)
                : []
            "
          >
            <a style="cursor: initial;"
              ><span
                [ngStyle]="{
                  'font-weight':
                    notification.id >
                    (tmp_last_notification_id_viewed ||
                      last_notification_id_viewed)
                      ? 'bold'
                      : ''
                }"
                >u_id:{{ notification.sender_u_id }} send notification to
                you!</span
              ></a
            >
          </li>
          <li class="list-group-item">
            <a routerLink="/notifications"
              ><span style="font-weight: bold;">SHOW ALL...</span></a
            >
          </li>
        </ul>
      </li>
      <li *ngIf="getIsLogin()">
        <button (click)="logOut()" class="btn-link btn-lg">
          <span class="glyphicon glyphicon-log-out"></span>
        </button>
      </li>
    </ul>
    <form
      [formGroup]="searchForm"
      (ngSubmit)="search(searchForm.value.text)"
      class="navbar-form navbar-right"
      action="/action_page.php"
      *ngIf="getIsLogin()"
    >
      <div class="form-group">
        <input
          name="text"
          type="text"
          class="form-control"
          placeholder="Search"
          formControlName="text"
        />
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
</nav>
