<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">My first Angular project</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="getIsLogin()">
      <li class="active"><a href="/">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav" *ngIf="!getIsLogin()">
      <li class="active"><a href="/">Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="getIsLogin()">
        <button (click)="showNotifications()" class="btn-link btn-lg">
          <span
            class="glyphicon glyphicon-bell"
            [ngStyle]="{
              color:
                myNotifications && myNotifications.length
                  ? '#ff5a5a'
                  : '#9d9d9d'
            }"
          ></span>
          <span
            *ngIf="myNotifications && myNotifications.length"
            style="font-size: 14px; margin: 5px;"
            >{{ myNotifications.length }}</span
          >
        </button>
      </li>
      <li *ngIf="getIsLogin()">
        <button (click)="logOut()" class="btn-link btn-lg">
          <span class="glyphicon glyphicon-log-out"></span>
        </button>
      </li>
    </ul>
    <form
      [formGroup]="searchForm"
      (ngSubmit)="search(searchForm.value.text)"
      class="navbar-form navbar-right"
      action="/action_page.php"
      *ngIf="getIsLogin()"
    >
      <div class="form-group">
        <input
          name="text"
          type="text"
          class="form-control"
          placeholder="Search"
          formControlName="text"
        />
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
</nav>
